{% load static from staticfiles %}

<div class="rubric_title">
		Что умеет Маниус?
	</div>
	<div class="standart-infoblock"> 
		<div class="content-box left-box">
			<img src="{% static 'img/vidget1.png' %}" >
		</div>
		<div><p>
		Основная "Фишка" маниуса - это, денежный спидометр, который поволяет увидеть текущее состояние счета 
		относительно желаемой и, наоборот, нежелательной суммы на счете.</p>
		<div class="addon">
		- "На счете" - текущее количество денег на счете.<br>
		- "Средняя прибыль" - здесь можно указать любое удобное значение, нужно только помнить, что этот параметр является центром циферблата. 
		   Кстати, максимальное значение на циферблате - "стартовая сумма" * 2. <br>
		- "Красная зона" - сумма на счете, ниже которой опускаться бы не хотелось<br>
		- "Зеленая зона" - сумма на счете, при достижении которой ты можешь смело сказать, что у тебя все хорошо с финансами!
		<br>
		Все эти параметры можно поменять либо в общих настройках, либо в настройках виджета
		</div>
		</div>
	</div>
	<div class="standart-infoblock"> 
		<div class="content-box right-box">
			<img src="{% static 'img/vidget2.png' %}" >
		</div>
		<div>
			<p>Следующий виджет позволяет увидеть график изменений на счете за весь период использования сервиса.</p>			
			<div class="addon">Слайдер в его нижней части позволяет детализировать данные</div>
		</div>
	</div>
	
	<div class="standart-infoblock"> 
		<div class="content-box left-box">
			<img src="{% static 'img/vidget3.png' %}" >
		</div>
		<div>
			<p>Ну а этот виджет для любителей отчетности и таблиц.</p>		
			<div class="addon">Возможна сортировка по любому полю</div>
		</div>
	
	</div>